<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CDN Fetch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>56384C1F1F992D7A0009AF4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56384C321F992D7B0009AF4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56384C3D1F992D7B0009AF4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5655F4231F9D5F3400BB9291</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>567EA9141F9D3E81004852CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56ED0B8F1F9D412800A02C33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
